* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
.mainContainer,
.bottomButtons,
.numberButtons,
.buttonRow,
.operatorButtons,
.calculator {
    display: flex;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .calculator {
        width: 92vw;
        max-width: 600px;
        aspect-ratio: 1 / 1.5;
        background-color: brown;
        flex-direction: column;
        margin-top: 20px;
    }

        .screen {
            margin: 10px;
            background-color: aqua;
            flex: 1 1;        
        }

        .bottomButtons {
            margin: 0px 10px 10px;
            background-color: hotpink;
            flex: 3 1;
        }

            .numberButtons {
                background-color: blueviolet;
                flex-direction: column;
                flex: 3 1;
            }

                .buttonRow {
                    background-color: gold;
                    flex: 1 1;
                }

                    .button {
                        background-color: grey;
                        border-style: solid;
                        flex: 1 1;
                        margin: 10px;
                        font-size: 30px;
                        text-align: center;
                    }
            
            .operatorButtons {
                background-color: mediumspringgreen;
                flex-direction: column;
                flex: 1 1;
            }

.footer {
    height: 40px;
    background-color: aquamarine;
}