* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    border-radius: 10px;;
}

body,
.mainContainer,
.bottomButtons,
.numberButtons,
.buttonRow,
.operatorButtons,
.calculator,
.topButtons,
.screen,
.topScreen {
    display: flex;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #bcdbdf;
}

.mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .calculator {
        width: 92vw;
        max-width: 600px;
        aspect-ratio: 1 / 1.5;
        background-color: #f7aa00;
        flex-direction: column;
        margin-top: 20px;
    }

        .screen {
            margin: 10px;
            background-color: #bcdbdf;
            flex: 1 1;
            padding: 20px;
            font-size: 50px;
            flex-direction: column;            
        }

            .topScreen{
                width: 100%;
                flex: 1 1;
            }

                .topLeftScreen {
                    border-style: solid;
                    flex: 5 1;
                }
                
                .topRightScreen {
                    border-style: solid;
                    flex: 1 1;
                }

            .bottomScreen {
                border-style: solid;
                flex: 2 1;
            }

        .topButtons {
            background-color: #40a8c4;
            margin: 0px 10px 0px;
            flex: 0.1 1;
            border-radius: 10px 10px 0 0;
        }

        .bottomButtons {
            margin: 0px 10px 10px;
            flex: 3 1;
        }

            .numberButtons {
                background-color: #235784;
                flex-direction: column;
                flex: 3 1;
                border-radius: 0 0 0 10px;;
            }

                .buttonRow {
                    flex: 1 1;
                }

                    .button,
                    .equals {
                        background-color: grey;
                        border-style: solid;
                        flex: 1 1;
                        margin: 10px;
                        font-size: 30px;
                        text-align: center;
                    }
            
            .operatorButtons {
                background-color: #40a8c4;
                flex-direction: column;
                flex: 1 1;
                border-radius: 0 0 10px 0;
            }

.footer {
    height: 40px;
    background-color: #235784;
    align-self: stretch;
    border-radius: 0;
}